<div class="container-fluid" style="margin-top: 50px;">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
       2017 &copy; Our Website by
       <a target="_blank" href="#">WebSite R US</a>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>