<div class="container-fluid">

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <ul class="list-inline">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>